<li>
	  <div class="collapsible-header">
	<div class="row">
  
		<div class="col ">
		<b>{{name}}<i class="material-icons gray-text">sarrow_drop_down</i>	 </b>
		</div>
		<div class="col align-right">
			<a class="change" data-id="{{id}}" data-newstatus="{{bought}}">
			{{#if bought}}<i class="material-icons controlicons">shopping_cart</i>{{else}}<i class="material-icons controlicons">check</i>{{/if}}
			</a>
			<a class="delete" data-id="{{id}}" ><i class="material-icons controlicons">delete</i></a>
		</div>
	</div>
</div>
    <div class="collapsible-body"><span>   
			<div class="row">
				<div class="col m7 s6">
			<i class="notes">Notes</i><br>
		<p>{{description}}</p>
				</div>
				<div class="col m5 s6">
							<a class="btn buy" href="{{link}}">Buy</a>
				</div>
			</div>
		</span></div>
</li>

