<li>
	  <div class="collapsible-header">
	<div class="row">
  
		<div class="col s12 m9">
		<b>{{name}}</b>
		</div>
		<div class="col s12 m3">
			<a class="change" data-id="{{id}}" data-newstatus="{{bought}}">
			{{#if bought}}<i class="material-icons controlicons">shopping_cart</i>{{else}}<i class="material-icons controlicons">check</i>{{/if}}
			</a>
			<a class="delete" data-id="{{id}}" ><i class="material-icons controlicons">delete</i></a>

		</div>
	</div>
</div>
    <div class="collapsible-body"><span>   
			<div class="row">
			<i class="notes">Notes</i><br>
		<p>{{description}}</p>

							<a class="btn" href="{{link}}">Buy</a>
		
			</div>
		</span></div>
</li>
